body {
  font-family:serif;
  background-color: rgba(171, 164, 63, 0.322);
  font-size: large;
  
  
}

h1 {
  font-family: fantasy;
  text-transform: uppercase;
  color:#2c2c2b;
}



img {
  height: 400px;
  width: 800px;
  margin-top: 30px;
}